@import "tailwindcss";

body{
  font-family: var(--font-lato), sans-serif;
}

@theme{

  --color-black-absolute: #000000;
  --color-black-carbon: #0A0A0A;
  --color-darker-gray: #121212;
  --color-black-smooth: #1A1A1A;
  --color-antracite: #202020;
  --color-grafite-dark: #2c2c2c;
  --color-gray-lead: #333333;
  --color-gray-dark: #404040;
  --color-coal: #2B2B2B;
  --color-black-fume: #1E1E1E; 
}
